@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .advantages .quote p
    font-size: 20px
  .advantages .quote .text-right
    -webkit-transform: translate(-10%,237%)
    -moz-transform: translate(-10%, 237%)
    -ms-transform: translate(-10%, 237%)
    -o-transform: translate(-10%, 237%)
    transform: translate(-10%, 237%)
  .advantages .quote .text-left
    -webkit-transform: translate(10%,137%)
    -moz-transform: translate(10%,137%)
    -ms-transform: translate(10%,137%)
    -o-transform: translate(10%,137%)
    transform: translate(10%,137%)
  h2
    font-size: 43px
  .partners .cards .card
    width: 50%
  .partners .cards .card p
    font-size: 15px
  .partners .cards .card-plus::after
    display: none
  .methods-2, .methods-4
    margin: 8%
  .btn
    padding: 11px 15px
    font-size: 15px
  .employment
    .card
      p
        font-size: 12px
  .partners .cards
    margin-top: 30px
  .cases-content, .kazmunay
    font-size: 20px
// ≥992px
+media-breakpoint-down(md)
  header
    height: auto
  footer .form-container
    padding: 44px
  h2
    font-size: 36px
  .advantages .quote
    margin: 5px auto 15px
  .methods
    img
      -webkit-transform: scale(0.7)
      -moz-transform: scale(0.7)
      -ms-transform: scale(0.7)
      -o-transform: scale(0.7)
      transform: scale(0.7)
      margin: 0 auto
    .methods-1, .methods-2, .methods-3, .methods-4
      text-align: center
    .methods-4, .methods-2
      margin: 30px auto
    .methods-3, .methods-1
      margin: 0
  .employment
    .card
      transform: none
      margin: 10px
      &-1
        margin-top: 50px
  header .top-line-right a
    font-size: 18px
    span
      display: none
  header .fa
    font-size: 36px
  header .header-main--swiper
    width: 100%
  header .top-line-right .fa-phone
    padding: 10px 15px
  h1
    font-size: 42px
  h3
    font-size: 19px
  header .plane
    -webkit-transform: none
    -moz-transform: none
    -ms-transform: none
    -o-transform: none
    transform: none
    display: block
    max-width: 100%
    height: auto
  header .form-container input
    width: 58%
  header .form-container .btn
    width: 58%
    margin: 0 auto
  .employment-bottom
    margin-top: 64px
  header
    .header-main
      &--swiper
        margin: 0 auto
        width: 100%
        justify-content: center
        .swiper-slide
          width: 100%
          justify-content: center
  .case-item
    width: 100%
  .employment-bottom h3
    font-size: 30px
  .employment-bottom--list p
    font-size: 14px
  footer
    .privacy
      margin-top: 15px
  .w-50
    width: 100%!important

// ≥768px
+media-breakpoint-down(sm)
  .advantages .quote .text-right
    -webkit-transform: translate(-10%, 348%)
    -moz-transform: translate(-10%, 348%)
    -ms-transform: translate(-10%, 348%)
    -o-transform: translate(-10%, 348%)
    transform: translate(-10%, 348%)
  .advantages .quote .text-left
    -webkit-transform: translate(10%,230%)
    -moz-transform: translate(10%,230%)
    -ms-transform: translate(10%,230%)
    -o-transform: translate(10%,230%)
    transform: translate(10%,230%)
  .advantages .quote p
    font-size: 15px
  h2
    font-size: 25px
  .partners .cards .card
    width: 100%
  .employment
    &-bottom--list
      justify-content: center
    .load
      -webkit-transform: translateX(-6%)
      -moz-transform: translateX(-6%)
      -ms-transform: translateX(-6%)
      -o-transform: translateX(-6%)
      transform: translateX(-6%)
    .card
      height: 106px
  .parallelogram
    width: 32px
  .partners .cards .card
    padding: 50px
  .employment-bottom h3
    font-size: 16px
  .partners
    .cards
      .card
        background-color: #d7f5ff
        img, p, a
          transform: scale(1.1)
          transition: .4s ease
        .btn
          visibility: visible
        img
          filter: none
        p
          color: black
        h4
          color: black
        span
          color: $accent


// ≥576px
+media-breakpoint-down(xs)
  h1, h2, h3, h4, h5
    text-align: center
  .advantages
    img
      transform: scale(0.8)
      display: block
      max-width: 100%
      height: auto
      margin: 0 auto
    .quote
      height: 33vw
      p
        font-size: 9px
  h5
    font-size: 18px
  p
    font-size: 13px
  .advantages .quote .text-right
    -webkit-transform: translate(-6%, 135%)
    -moz-transform: translate(-6%, 135%)
    -ms-transform: translate(-6%, 135%)
    -o-transform: translate(-6%, 135%)
    transform: translate(-6%, 135%)
  .advantages .quote .text-left
    -webkit-transform: translate(19%,119%)
    -moz-transform: translate(19%,119%)
    -ms-transform: translate(19%,119%)
    -o-transform: translate(19%,119%)
    transform: translate(19%,119%)
  .employment
    .card
      margin: 0
      p
        font-size: 9px
    &-bottom
      margin-top: 50px
    .load-2
      -webkit-transform: translateX(13px)
      -moz-transform: translateX(13px)
      -ms-transform: translateX(13px)
      -o-transform: translateX(13px)
      transform: translateX(13px)
  .mt-100
    margin-top: 50px
  header
    .top-line
      &-right
        margin-top: 30px
    .header-main
      margin-top: 25px
      text-align: center
      &::before
        content: none
      &--bottom
        margin-top: 50px
        justify-content: center
        h3
          font-size: 13px
          text-align: start
      &--swiper
        width: 100%
        margin: 0 auto
        p
          font-size: 11px
          -webkit-transform: translateX(-30px)
          -moz-transform: translateX(-30px)
          -ms-transform: translateX(-30px)
          -o-transform: translateX(-30px)
          transform: translateX(-30px)
        img
          -webkit-transform: scale(0.8)
          -moz-transform: scale(0.8)
          -ms-transform: scale(0.8)
          -o-transform: scale(0.8)
          transform: scale(0.8)
        .swiper-slide
          width: 100%
  h1
    font-size: 30px
  header
    .form-container
      padding: 100px 0
      .btn
        display: block
        max-width: 100%
        height: auto
        width: 78%
      input
        max-width: 350px
        width: 78%
      .privacy
        margin: 10px 0 0 30px
  header .top-line
    padding-top: 0
  footer, header
    .btn
      min-width: auto

  .thanks-wrapper
    p
      font-size: 16px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
