@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff


html
	font-size: 10px
	overflow-x: hidden !important
	height: 100%
	scroll-behavior: smooth

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: Avenir
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

// Settings

header, section
	position: relative

h1, h2, h3, h4, h5, h6
	margin-bottom: 0
	line-height: 1.4
	text-transform: uppercase

.hidden
	display: none

// h1-h6
h1
	font-size: 40px
	font-weight: 900
	line-height: 1.3
	color: $accent

h2
	font-size: 40px
	font-weight: 900
	line-height: 1.4
	color: $blue

h3
	font-size: 36px

h4
	font-size: 28px

h5
	font-size: 22px

h6
	font-size: 18px

// Links



// List
ul, li
	padding: 0
	margin: 0
	list-style: none

// Button
@keyframes button-blink
	0%
		left: -200%
		bottom: -200%
		opacity: 1
	100%
		left: 100%
		opacity: 0
		bottom: 100%

button
	outline: none
	cursor: pointer
.btn
	display: flex
	align-items: center
	justify-content: space-between
	min-width: 250px
	padding: 23px 26px 23px 26px
	color: #fff
	background: $accent
	outline: none !important
	border: none
	box-shadow: 0 6px 20px 5px rgba($accent, .21)
	font-size: 16px
	font-weight: bold
	text-align: center
	letter-spacing: 1px
	overflow: hidden
	position: relative
	transition: all .3s ease
	border-radius: 100px
	.fa
		font-size: 32px
	&::before
		content: ''
		position: absolute
		width: 100%
		transform: rotate(30deg)
		height: 100%
		background: lighten($accent, 20%)
		animation-name: button-blink
		animation-timing-function: ease-in-out
		animation-iteration-count: infinite
		animation-duration: 3s
@keyframes move-light
	from
		transform: translateX(-4em) skewX(-45deg)
	to
		transform: translateX(10em) skewX(-45deg)
// Section
	h2
		span
			color: #505050
header
	background-image: url("../img/header-bg.png")
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	padding-bottom: 15%
	.plane
		-webkit-transform: translateX(-50%)
		-moz-transform: translateX(-50%)
		-ms-transform: translateX(-50%)
		-o-transform: translateX(-50%)
		transform: translateX(-50%)
	.form-container
		background-image: url("../img/form-header.png")
		background-repeat: no-repeat
		background-position: center
		padding: 100px 40px
		input
			width: 100%
			margin: 10px 0
			border-radius: 100px
			background: #e8e8e8
			padding: 10px 0
			text-align: center
		.btn
			font-size: 12px
			padding: 20px 0
			justify-content: center
			width: 100%
			font-weight: 500
		.privacy
			margin-top: 10px
			text-align: left
			input
				width: 10%
			span
				color: black
				font-size: 13px
				margin-left: 10px
	.top-line
		padding-top: 33px
		&-right
			.fa-phone
				background-color: $blue
				padding: 10px 13px
				border-radius: 100px
				color: #2484a3
				margin-right: 10px
			a
				color: white
				font-weight: 500
				font-size: 24px
	.header-main
		margin-top: 82px
		p
			color: white
			font-weight: 500
			font-size: 24px
		&::before
			content: ''
			background-image: url("../img/small-plane.png")
			position: absolute
			width: 50px
			height: 70%
			background-size: contain
			background-repeat: no-repeat
			left: -6%
			top: 12%
		&--bottom
			margin-top: 10px
			img
				margin-right: 15px
			h3
				color: $accent
				font-size: 25px
		&--swiper
			width: 70%
			p
				font-size: 15px
	.swiper-pagination-bullet-active
		background: white
	.fa
		color: $blue
		font-size: 35px
		outline: none
.parallelogram
	width: 70px
	height: 8px
	-webkit-transform: skew(-20deg)
	-moz-transform: skew(-20deg)
	-o-transform: skew(-20deg)
	background: $blue
	margin: 10px
.employment
	.card
		width: 100%
		height: 180px
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		display: flex
		justify-content: center
		align-items: center
		p
			-webkit-transform: translateX(20%)
			-moz-transform: translateX(20%)
			-ms-transform: translateX(20%)
			-o-transform: translateX(20%)
			transform: translateX(20%)
		&-right
			-webkit-transform: translateX(-7%)
			-moz-transform: translateX(-7%)
			-ms-transform: translateX(-7%)
			-o-transform: translateX(-7%)
			transform: translateX(-7%)
		&-1
			background-image: url("../img/card-1.png")
			margin-top: 60px
		&-2
			background-image: url("../img/card-2.png")
			margin-top: 60px
		&-3
			background-image: url("../img/card-3.png")
		&-4
			background-image: url("../img/card-4.png")
		&-5
			background-image: url("../img/card-5.png")
		&-6
			background-image: url("../img/card-6.png")
		&-7
			background-image: url("../img/card-7.png")
		&-8
			background-image: url("../img/card-8.png")
		&-9
			background-image: url("../img/card-9.png")
		&-10
			background-image: url("../img/card-10.png")
			p
				font-size: 13px
		&-11
			background-image: url("../img/card-11.png")
		&-12
			background-image: url("../img/card-12.png")
		&-13
			background-image: url("../img/card-13.png")
		&-14
			background-image: url("../img/card-14.png")
			p
				font-size: 13px
		&-15
			background-image: url("../img/card-15.png")
	&-bottom
		margin-top: 80px
		h3
			font-weight: 500
			color: $black
		&--list
			margin-top: 41px
			p
				color: $black
				font-weight: 500
				font-size: 18px
			.parallelogram-bg
				width: 100px
				height: 80px
				-webkit-transform: skew(-20deg)
				-moz-transform: skew(-20deg)
				-o-transform: skew(-20deg)
				display: flex
				align-items: center
				justify-content: center
				&--1
					background: #1d293d
				&--2
					background: $blue
				&--3
					background: $accent
				span
					font-size: 60px
					font-family: "Avenir Next Cyr"
					font-weight: bold
					-webkit-transform: skew(20deg)
					-moz-transform: skew(20deg)
					-ms-transform: skew(20deg)
					-o-transform: skew(20deg)
					transform: skew(20deg)
.methods
	background-image: url("../img/methods-bg.png")
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	p
		font-size: 19px

	&-1
		margin: 56px 0 0 100px
		h4
			color: $blue
	&-2
		margin: 0 0 0 42%
		img
			margin-left: 100px
		h4
			color: #4b79c7
	&-3
		margin: 56px 0 0 100px
		h4
			color: #a1a1a1
	&-4
		margin: 0 0 0 42.5%
		img
			margin-left: 100px
		h4
			color: $accent
	.btn
		width: 22vw
		margin: 63px auto 0
.partners
	padding: 0
	h3
		color: $black
	.cards
		margin-top: 130px
		.card
			width: 25%
			align-items: center
			justify-content: center
			display: block
			padding: 50px 50px 80px 50px
			text-align: center
			position: relative
			p
				margin-top: 27px
				color: #b8b8b8
				font-size: 18px
			img
				margin: 0 auto
				-webkit-filter: grayscale(100%) /* Safari 6.0 - 9.0 */
				filter: grayscale(100%)
			h4
				color: #b8b8b8
				margin-top: 20px
			span
				color: #ffa0a0
				font-weight: 500
			.btn
				width: 20%
				padding: 18px 34px
				background: $blue
				margin: 5vw auto 0
				visibility: hidden
			&:hover
				background-color: #d7f5ff
				img, p, a
					transform: scale(1.1)
					transition: .4s ease
				.btn
					visibility: visible
				img
					filter: none
				p
					color: black
				h4
					color: black
				span
					color: $accent
			&-plus::after
				content: url("../img/plus.png")
				position: absolute
				bottom: -14%
				right: -15%
.advantages
	background-image: url("../img/quote-bg.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	.quote
		background-image: url("../img/quote.png")
		background-position: center
		background-size: contain
		background-repeat: no-repeat
		height: 312px
		margin: 60px auto 100px
		p
			font-size: 24px
			line-height: 1.1
		.text-right
			text-align: right
			-webkit-transform: translate(-10%,150%)
			-moz-transform: translate(-10%,150%)
			-ms-transform: translate(-10%,150%)
			-o-transform: translate(-10%,150%)
			transform: translate(-10%,150%)
		.text-left
			-webkit-transform: translate(10%,100%)
			-moz-transform: translate(10%,100%)
			-ms-transform: translate(10%,100%)
			-o-transform: translate(10%,100%)
			transform: translate(10%,100%)
	h5
		margin: 32px 0 12px 0
		color: $blue
footer
	background-color: white
	.truck
		display: flex
		align-items: center
		justify-content: center
	input
		padding: 17px 0
		width: 100%
		border-radius: 100px
		text-align: center
		margin: 5px
		border: none
		background: #e8e8e8
	.form-container
		padding: 100px
		.btn
			padding: 11px 23px
			margin: 5px
			width: 100%
			font-size: 14px
			font-weight: 500
			text-align: center
			justify-content: center
		.privacy
			input
				width: 10%
			span
				color: black
				font-size: 12px
	.footer-bottom
		display: flex
		align-items: center
		span
			color: black
			line-height: 1.1
		.fa-map-marker
			color: $accent
			font-size: 36px
			margin-right: 20px
	.footer-phone
		a
			background: $accent
			padding: 10px 35px 10px 6px
			border-radius: 28.5px
			color: white
			.fa
				width: 46px
				height: 46px
				border-radius: 10em
				line-height: 46px
				text-align: center
				color: #fff
				font-size: 22px
	.footer-copyright
		text-align: center
		margin-top: 100px
		padding-bottom: 30px
		p
			color: #636363
.mt-100
	margin-top: 100px
.mb-100
	margin-bottom: 100px

//cases
.cases-header
	background-image: url("../img/case-header.png")
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	height: 22vh
	.top-line
		padding-top: 33px
		&-right
			.fa-phone
				background-color: $blue
				padding: 10px 13px
				border-radius: 100px
				color: #2484a3
				margin-right: 10px
			a
				color: white
.cases-menu
	color: black
	margin: 50px 0 80px 0
	&--main
		color: black
	span
		color: $blue
.cases-content, .kazmunay
	padding: 50px 0
	color: black
	font-size: 24px
	font-weight: 500
.case-item
	text-align: center
	width: 33%
	img
		margin: 100px auto 50px
.kazmunay
	background-color: #ebfaff
.popup-callback
	color: black
	background: #fff
	max-width: 540px
	z-index: 10000
	border-radius: 8px
	position: relative
	margin: 0 auto
	padding: 40px 30px
	h4
		font-size: 20px
		text-align: center
		display: block
		letter-spacing: .5px
		text-transform: uppercase
	small
		font-size: 15px
		text-align: center
		display: block
	form
		margin-top: 30px
		label
			display: block
			width: 100%
			margin-bottom: 20px
			position: relative

			span
				display: block
				font-size: 16px
				// margin-bottom: 5px
				.required
					color: #F57A80
			input
				width: 100%
				padding: 10px 0
				border: none
				outline: none !important
				border-bottom: 3px solid #eaeaea
				font-size: 18px
				&:focus + .label-active
					&::before
						width: 100%
		button
			margin-top: 30px

		.form-info
			font-size: 14px
			line-height: 1.2
			margin-top: 30px
// ====== 3d unfold ======


.mfp-3d-unfold


	.mfp-content
		perspective: 2000px


	/* start state */
	.mfp-with-anim
		opacity: 0
		transition: all 0.3s ease-in-out
		transform-style: preserve-3d
		transform: rotateY(-60deg)



	&.mfp-bg
		opacity: 0
		transition: all 0.5s


	/* animate in */
	&.mfp-ready
		.mfp-with-anim
			opacity: 1
			transform: rotateY(0deg)

		&.mfp-bg
			opacity: 0.8



	/* animate out */
	&.mfp-removing

		.mfp-with-anim
			transform: rotateY(60deg)
			opacity: 0

		&.mfp-bg
			opacity: 0


.mfp-bg
	z-index: 9998

.mfp-wrap
	z-index: 9999
.prev-1, .next-1
	outline: none

.popup-callback
	position: relative
	overflow: hidden
	.callback-form
		display: block
		z-inndex: 1
	.thankyou
		position: absolute
		left: 0
		top: -100%
		transition: .4s ease
		bottom: 0
		right: 0
		width: 100%
		display: flex
		justify-contentt: center
		flex-direction: column
		height: 100%
		background-color: #fff
		z-index: 3
		.fa
			font-size: 52px
			color: $blue
			-webkit-transform: translateY(-110%)
			-moz-transform: translateY(-110%)
			-ms-transform: translateY(-110%)
			-o-transform: translateY(-110%)
			transform: translateY(-110%)

.thanks-on
	top: 0 !important

.modal-thank
  max-width: 800px
  margin: 0 auto
  position: relative
  background: white
  padding: 50px 0
  .fa
    font-size: 56px
    color: $blue
  color: black
  h2
    color: $accent
  p
    font-size: 24px
    font-weight: 500

.thanks-wrapper
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	color: #333
	flex-direction: column
	.fa
		font-size: 59px
		color: $accent
		margin-bottom: 15px
	p
		font-size: 18px
		font-weight: 500

@import "media" // Always at the end
